.mainDiv {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 3rem;
  }
  
  .mainTitle {
    font-size: 4rem;
    font-weight: bolder;
    padding-bottom: 2rem;
    text-transform: uppercase;
  }