.ProjectDashboard {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.ProjectDashboard .projectTitle {
  margin: 0.2rem 0 0.2rem 1rem;
  font-weight: bolder;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.ProjectDashboard .menuClass {
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
  padding-top: 0.2rem;
  text-align: center;
}

.ProjectDashboard .viewClass {
  color: black;
  padding-top: 0.3rem;
  padding-right: 0.5rem;
  text-align: center;
}

.ProjectDashboard .leaderButton {
  padding-top: 0.3rem;
  padding-right: 0.5rem;
  text-align: center;
}

.ProjectDashboard .emptyStyles {
  margin-top: 3rem;
  height: 40vh;
  width: 40vw;
}

.ProjectDashboard .emptyStyles p {
  text-align: center;
  justify-content: center;
}

.ProjectDashboard .chatButton {
  position: fixed;
  bottom: 0px;
  right: 40px;
  z-index: 1;
  width: 10vw;
  height: 7vh;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.ProjectDashboard .tableContainer {
  margin: 1rem;
}

.ProjectDashboard .tableRowClass {
  /* background-color: aquamarine;
  border: 2px solid salmon; */
}

.ProjectDashboard .tableStyles {
  border: 2px solid steelblue;
}

.headStyle {
  background-color: black;
}

.wrapClass {
  color: rgb(236, 30, 30);
}

.ant-modal-title {
  font-size: 2rem;
}

.ChatBox {
  height: 70vh;
  width: 25vw;
  position: fixed;
  bottom: 0;
  right: 2rem;
  border: 3px solid #f1f1f1;
  padding: 1rem;
  z-index: 9;
  background-color: white;
  display: none;
  transition: 0.5s;
}

.ChatBox .chatMessagesContainer {
  height: 80%;
  background-color: #80bffa;
  padding: 0.3rem;
  overflow-y: auto;
}

.ChatBox .sendMessageForm {
  padding: 0.3rem;
  height: 10%;
}

.ChatBox .chatButton {
  width: 100%;
  font-size: 1.2rem;
  height: 100%;
}

.ChatBox .chatInput {
  width: 100%;
  font-size: 1.2rem;
}

.ChatBox .messageContainer {
  padding: 1rem 0.1rem 1rem 0.1rem;
  margin: 0.2rem;
  border-bottom: 2px solid black;
}
.ChatBox .messageHead {
}

.ChatBox .chaterName {
  font-weight: bold;
  font-size: 1.2rem;
}
.ChatBox .sendTime {
  float: right;
  font-size: 0.8rem;
}

.ChatBox .chatMessage {
  text-align: center;
}

#sTob::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(74, 5, 236, 0.3);
  border-radius: 10px;
  opacity: 0.5;
  background-color: #eee6e6;
}

#sTob::-webkit-scrollbar {
  width: 10px;
  opacity: 0.5;
  background-color: #f5f5f5;
}

#sTob::-webkit-scrollbar-thumb {
  border-radius: 10px;
  opacity: 0.5;
  -webkit-box-shadow: inset 0 0 6px rgba(44, 123, 241, 0.3);
  /* //background-color: #555; */
}



.addMembersToProject {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #80bffa;
  border-radius: 2rem;
  padding-top: 2rem;
}
.addMembersToProject .formItemAddMembersToProject {
  margin: 1rem;
  text-align: center;
}

.addMembersToProject .formItemAddMembersToProject .formInputAddMembersToProject {
  border-radius: 1rem;
  width: 100%;
}

.addMembersToProject
  .formItemAddMembersToProject
  .formInputAddMembersToProject
  .ant-select-selector {
  border-radius: 1rem;
}



.addMembersToProject .formButtonAddMembersToProject {
  justify-content: center;
  text-align: center;
  width: 50%;
  font-size: 1.3rem;
  height: 10%;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 2rem;
  color: #80bffa;
  letter-spacing: 0.2rem;
}

.addMembersToProject .modalTitle {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: white;
  text-decoration: underline;
}

.addMembersToProject .memberDataInAddMember {
  padding: 1rem;
  font-size: 2rem;
}

.addMembersToProject .addButtonAddMembersToProject {
  justify-content: center;
  text-align: center;
  height: 7vh;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 2rem;
  width: 100%;
  color: #80bffa;
  letter-spacing: 0.2rem;
}

.addMembersToProject .memberNameTitle {
  font-weight: bolder;
}

.addMembersToProject .memberName {
}
