.Navbar {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(4, 72, 139);
  padding: 0;
}

.Navbar .navItem {
  margin: 0.2rem 0 0.2rem 0;
  padding: 0 0 0 0;
  /* justify-content: center; */
  /* text-align: center; */
  /* vertical-align: middle; */
  /* display: flex; */
  /* align-items: center; */
  /* align-content: center; */
}

.Navbar .navItem .logo {
  width: 100%;
  height: 100%;
}

.Navbar .navItem .logo:hover {
 cursor: pointer;
}

.Navbar .navItem .navTitle {
  color: white;
  font-size: 2rem;
  padding: 0.2rem 0 0 0;
}

.Navbar .navItem .navName {
  color: white;
  font-size: 1.5rem;
  padding: 0.45rem 0 0 0;
}

.Navbar .navItem .navContent {
  color: white;
  font-size: 1.5rem;
  transition: 0.3s;
  padding: 0.3rem 0 0 0;
}

.Navbar .navItem .navContent .navLink {
  color: white;
  font-size: 1.5rem;
  padding: 0.3rem;
}

.Navbar .navItem .navContent .navLink:hover {
  /* border-bottom: 1px solid white; */
  /* font-size: 1.65rem; */
  transform: scale(1.1);
}

.onHoverPointer:hover {
  cursor: pointer;
}
