.Navbar {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(4, 72, 139);
  padding: 0;
}

.Navbar .navItem {
  margin: 0.2rem 0 0.2rem 0;
  padding: 0 0 0 0;
  /* justify-content: center; */
  /* text-align: center; */
  /* vertical-align: middle; */
  /* display: flex; */
  /* align-items: center; */
  /* align-content: center; */
}

.Navbar .navItem .logo {
  width: 100%;
  height: 100%;
}

.Navbar .navItem .logo:hover {
  cursor: pointer;
}

.Navbar .navItem .navTitle {
  color: white;
  font-size: 2rem;
  padding: 0.2rem 0 0 0;
}

.Navbar .navItem .navName {
  color: white;
  font-size: 1.5rem;
  padding: 0.45rem 0 0 0;
  text-align: end;
  padding-right: 1rem;
}

.Navbar .navItem .navNotification {
  color: white;
  font-size: 1.5rem;
  padding: 0.45rem 0 0 0;
  text-align: end;
  padding-right: 1rem;
}

.Navbar .navItem .navContent {
  color: white;
  font-size: 1.5rem;
  transition: 0.3s;
  padding: 0.3rem 0 0 0;
  text-align: center;
}

.Navbar .navItem .navContent .navLink {
  color: white;
  font-size: 1.5rem;
  /* padding: 0.5rem; */
  transition: 0.5s;
}

.Navbar .navItem .navContent .navLink:hover {
  /* border-bottom: 1px solid white; */
  /* font-size: 1.65rem; */
  transform: scale(1.2);
  /* transform: rotate(360deg); */
  opacity: 0.7;
  /* color: rgb(142, 145, 151); */
}

.onHoverPointer:hover {
  cursor: pointer;
}

.notificationContainer {
  border: 10px double dodgerblue;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-width: 25vw;
  max-width: 40vw;
  max-height: 50vh;
  overflow-y: auto;
  background-color: rgb(255, 255, 255);
}

.notificationContainer .notification {
  border-bottom: 1px solid black;
  padding: 0.5rem;
  margin: 0.5rem;
  /* width: 100%; */
  overflow: hidden;
  height: 100%;
}

.notificationContainer .notification:hover {
  opacity: 0.7;
  cursor: pointer;
}

.notificationContainer .ifNotRead {
  font-weight: bold;
}

.notificationContainer .notification .notificationName {
  font-size: 1.3rem;
  font-weight: bold;
  /* height: 20%; */
  /* text-align: center; */
}

.notificationContainer .notification .notificationDescription {
  font-size: 1.1rem;
  margin-top: 0.5rem;
  /* height: 80%; */
  /* text-align: center; */
}

.emptyNotificationBox {
  border: 10px double dodgerblue;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-width: 25vw;
  max-width: 90vw;
  max-height: 50vh;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 2rem;
}
