:root {
  --primary-color: rgb(63, 209, 34);
  --secondary-color: rgb(49, 114, 235);
  --third-color: rgb(235, 33, 235);
}




.class1 {
  color: var(--primary-color);
  /* color: red; */
  /* background-color: aqua; */
}

.class2 {
  color: var(--secondary-color);
}

.class3 {
  color: var(--third-color);
}
