.Board {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.Board .mainContainer {
  /* display: table; */
  /* overflow-x: scroll; */
  width: 180vw;
  overflow: auto;
  height: 100vh;
  white-space: nowrap;
  background-color: steelblue;
}

.Board .mainContainer .addNewTaskList {
  width: 280px;
  margin: 0 1rem 0 0.5rem;
  height: 8vh;
  font-size: 1.2rem;
  font-weight: 600;
}

.Board .mainContainer .taskList {
  display: inline-table;
  /* float: left; */
  max-width: 280px;
  min-width: 280px;
  overflow: hidden;
  background-color: gainsboro;
  /* height: 50vh; */
  margin: 1rem 0.5rem 1rem 0.5rem;
}

.Board .mainContainer .taskList .taskListHead {
  margin: 0.5rem 1rem 1rem 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: 1px solid black;
  width: 100%;
  overflow: hidden;
}

.Board .mainContainer .taskList .tasks {
  margin: 1rem;
  text-align: center;
}

.Board .mainContainer .taskList .tasks .addNewTask {
  margin: 1rem;
}

.Board .mainContainer .taskList .tasks .taskContainer {
  border: 4px solid slateblue;
  margin-bottom: 1rem;
  padding: 0.3rem;
  color: black;
  border-radius: 0.5rem;
  background-color: wheat;
  cursor: pointer;
  width: 100%;
  transition: 0.3s;
}

.Board .mainContainer .taskList .tasks .taskContainer:hover {
  background-color: rgb(238, 225, 202);
  transform: scale(1.1);
}

.Board .mainContainer .taskList .tasks .taskContainer .taskHeadContainer {
  border-bottom: 1px solid black;
  height: 30%;
  padding: 0.3rem;
}

.Board .mainContainer .taskList .tasks .taskContainer .taskHead {
  font-weight: bold;
  font-size: 1.2rem;
  overflow: hidden;
  text-align: left;
}
.Board .mainContainer .taskList .tasks .taskContainer .taskDueOn {
  color: red;
  padding-top: 0.2rem;
  white-space: pre-wrap;
  overflow: hidden;
  text-align: right;
}

.Board
  .mainContainer
  .taskList
  .tasks
  .taskContainer
  .taskDescriptionContainer {
  padding: 0.3rem;
  height: 70%;
  width: 100%;
  overflow: auto;
  white-space: pre-wrap;
  max-height: 20vh;
}

.Board
  .mainContainer
  .taskList
  .tasks
  .taskContainer
  .taskDescriptionContainer
  .taskDescription {
  text-align: justify;
  /* font-weight: 600; */
  /* font-size: ; */
}

.Board
  .mainContainer
  .taskList
  .tasks
  .taskContainer
  .taskDescriptionContainer
  .taskDescription
  ::-webkit-scrollbar {
  width: 10px;
  color: white;
}

.Board
  .mainContainer
  .taskList
  .tasks
  .taskContainer
  .taskDescriptionContainer
  .taskDescription
  ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(180, 19, 19, 0.3);
  border-radius: 10px;
}

.Board
  .mainContainer
  .taskList
  .tasks
  .taskContainer
  .taskDescriptionContainer
  .taskDescription
  ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(238, 36, 36, 0.5);
}

.custom_scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  opacity: 0.5;
  /* //background-color: #F5F5F5; */
}

.custom_scroll::-webkit-scrollbar {
  width: 5px;
  opacity: 0.5;
  /* //background-color: #F5F5F5; */
}

.custom_scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  opacity: 0.5;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  /* //background-color: #555; */
}
